.hero {
  margin-bottom: 90px;
  @media (max-width: $md2+px) {
    height: 700px;
  }

  &__container {
    max-width: 1440px;
    position: relative;
  }
  &__bg {
    right: 0;
    top: -131px;
    z-index: -1;
    position: absolute;
    width: 720px;
    height: 720px;
    object-fit: cover;
    max-width: 100%;
    @media (max-width: 1440px) {
      @include adaptiv-value(width, 720, 100, 3);
    }
    @media (max-width: $md2+px) {
      width: 100%;
      height: 800px;
      object-fit: cover;
      z-index: -1;
      filter: blur(5px);
    }
  }

  &__body {
    padding-top: 54px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1b1c57;
    max-width: 365px;
    margin-bottom: 25px;
    span {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #1b1c57;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;
    color: #626687;
    opacity: 0.75;
    max-width: 505px;
    margin-bottom: 29px;
    @media (max-width: $md2+px) {
      color: #000;
      font-weight: 600;
      opacity: 1;
    }
  }

  &__form {
    max-width: 496px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e3eb;
    border-radius: 32px;
    background-color: #fff;
    margin-bottom: 31px;
    @media (max-width: $md2+px) {
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 31px;
    }
  }
  &__form-location {
    padding-left: 26px;
    font-size: 22px;
    @media (max-width: $md4+px) {
      padding-left: 15px;
      font-size: 15px;
    }
  }

  &__input {
    width: 69%;
    background: #ffffff;
    padding: 17px 0 17px 22px;
    border-radius: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888b97;
    @media (max-width: $md4+px) {
      padding: 10px;
    }
  }

  &__form-submit {
    @extend %button;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 13px 16px;
    width: 109px;
  }

  &__text-bottom {
    display: flex;
    flex-direction: column;
    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &__partner {
    font-size: 16px;
    line-height: 32px;
    color: #888b97;
  }

  &__swiper {
    max-width: 1440px;
    margin-left: auto;
    position: relative;
    width: 50%;
    padding-left: 50px;
    bottom: 63px;
    @media (max-width: $md2+px) {
      padding: 0 15px;
      width: 100%;
      position: static;
      margin-top: 70px;
    }
  }

  &__swiper-wrapper {
    align-items: center;
  }
  &__card-none {
    padding: unset !important;
  }

  &__swiper-slide {
    width: fit-content !important;
  }

  &__card {
    background-color: #fff;
    padding: 24px;
    border-radius: 32px;
    width: fit-content;
  }

  &__card-body {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__card-left {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__card-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__card-left-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1b1c57;
  }

  &__card-left-subtitle {
    font-size: 12px;
    line-height: 20px;
    color: #68799f;
    width: 152px;
  }
}
