.subscribe {

  &__container {
    max-width: 1230px;
    margin-bottom: 120px;
  }

  &__container-wrapper {
    border-radius: 32px;
    background: -webkit-linear-gradient(
      45deg,
      rgb(160, 188, 243),
      rgb(242, 244, 247),
      rgb(229, 207, 239)
    );
    background: -moz-linear-gradient(
      45deg,
      rgb(160, 188, 243),
      rgb(242, 244, 247),
      rgb(229, 207, 239)
    );
    background: linear-gradient(
      45deg,
      rgb(160, 188, 243),
      rgb(242, 244, 247),
      rgb(229, 207, 239)
    );
  }

  &__form {
    @media (max-width: 991px) {
        gap: 11px;
    }
  }

  &__form-submit {
    width: 153px;
    padding: 15px;
    @media (max-width: $md3+px) {
        width: 230px;
        justify-content: center;
    }
  }

  &__input {
    padding: 17px 90px 17px 22px;
    @media (max-width: 991px) {
        padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 65px 67px 28px 67px;
    @media (max-width: 1024px) {
        justify-content: center;
    }
  }

  &__left {
    position: relative;
    @media (max-width: 1024px) {
        display: none;
    }
  }

  &__left-img1 {
    position: absolute;
    top: -29px;
    left: -44px;
  }

  &__left-img2 {
    position: absolute;
    top: 5px;
    left: 116px;
  }

  &__left-img3 {
    position: absolute;
    top: 105px;
    left: -20px;
  }

  &__left-img4 {
    position: absolute;
    top: 112px;
    left: 108px;
  }

  &__center-title {
    max-width: 462px;
    padding-left: 29px;
    @media (max-width: $md2+px) {
      padding-left: 0;
    }
  }

  &__center-title-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1B1C57;
    text-align: center;
    margin-bottom: 32px;
  }

  &__right {
    position: relative;
    @media (max-width: 1024px) {
        display: none;
    }
  }

  &__right-img1 {
    position: absolute;
    right: 111px;
    top: -23px;
  }

  &__right-img2 {
    position: absolute;
    top: 39px;
    right: -6px;
  }

  &__right-img3 {
    position: absolute;
    right: 112px;
    top: 76px;
  }

  &__right-img4 {
    position: absolute;
    top: 129px;
    right: -18px;
  }
}