<footer class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="header__logo">
          <img src="./images/logo.svg" alt="logo">
        </div>
        <div class="footer__left-wrapper-text">
          <p class="footer__left-text">
            We provide information about properties such as houses, 
            villas and apartments to help people find their dream home
          </p>
        </div>
        <div class="footer__left-icons">
          <div class="footer__left-icon-facebook">
            <a href="#">
              <i class="fa-brands fa-facebook-f" style="color: #3c4563;"></i>
            </a>
          </div>
          <div class="footer__left-icon-twitter">
            <a href="#">
              <i class="fa-brands fa-twitter" style="color: #3c4563;"></i>
            </a>
          </div>
          <div class="footer__left-icon-instagram">
            <a href="#">
              <i class="fa-brands fa-instagram" style="color: #3c4563;"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__right-wrapper">
          <div class="footer__right-title">
            <h4>Property</h4>
          </div>
          <div class="footer__right-subtitle">
            <p>House</p>
            <p>Apartment</p>
            <p>Villa</p>
          </div>
        </div>
        <div class="footer__right-wrapper">
          <div class="footer__right-title">
            <h4>Article</h4>
          </div>
          <div class="footer__right-subtitle">
            <p>New Article</p>
            <p>Popular Article</p>
            <p>Most Read</p>
            <p>Tips & Tricks</p>
          </div>
        </div>
        <div class="footer__right-wrapper">
          <div class="footer__right-title">
            <h4>Contact</h4>
          </div>
          <div class="footer__right-subtitle">
            <p>2464 Royal Ln. Mesa, New Jersey 45463</p>
            <p>(671) 555-0110</p>
            <p>info@hounter.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>