<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__left">
        <div class="header__logo">
          <img src="./images/logo.svg" alt="logo">
        </div>
      </div>
      <div class="header__right">
        <div class="header__mobile-burger">
          <div class="menu__icon icon-menu">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="header__right-wrapper">
          <div class="header__nav">
            <nav class="header__menu">
              <ul class="menu__list">
                <a class="menu__link" href="">
                  <li class="menu__item">About Us</li>
                </a>
                <a class="menu__link" href="">
                  <li class="menu__item">Article</li>
                </a>
                <li class="menu__item">
                  <select class="header__select">
                    <option class="header__option" selected>Property</option>
                    <option class="header__option">House</option>
                    <option class="header__option">Villa</option>
                    <option class="header__option">Apartment</option>
                  </select>
                </li> 
              </ul>
            </nav>
          
          </div>
          <div class="header__button">
            <a class="header__btn" href="#">Sign Up!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>