<section class="ready">
  <div class="ready__container">
    <!-- Swiper -->
    <div class="swiper mySwiper ready__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ready__wrapper">
            <div class="ready__left">
              <p class="ready__left-text">Ready To Sell!</p>
              <div class="ready__left-title-wrapper">
                <h2 class="ready__left-title">Let`s Tour And See Our House!</h2>
              </div>
              <div class="ready__left-subtitle-wrapper">
                <p class="ready__left-subtitle">
                  Houses recommended by our partners that have been curated to
                  become the home of your dreams!
                </p>
              </div>
              <h4 class="ready__left-house-detail">House Detail</h4>
              <div class="ready__left-detail">
                <div class="ready__left-detail-top">
                  <div class="ready__left-detail1">
                    <img src="./images/ready/bed.svg" alt="bed" />
                    <p class="ready__left-detail-text">4 Bedrooms</p>
                  </div>
                  <div class="ready__left-detail3">
                    <img src="./images/ready/bath.svg" alt="bath" />
                    <p class="ready__left-detail-text">2 Bathrooms</p>
                  </div>
                </div>
                <div class="ready__left-detail-bottom">
                  <div class="ready__left-detail2">
                    <img src="./images/ready/car-garage.svg" alt="car-garage" />
                    <p class="ready__left-detail-text">1 Carport</p>
                  </div>
                  <div class="ready__left-detail4">
                    <img src="./images/ready/steps.svg" alt="steps" />
                    <p class="ready__left-detail-text">2 Floors</p>
                  </div>
                </div>
              </div>
              <div class="ready__left-connection">
                <div class="ready__left-connection-photo">
                  <img
                    class="ready__left-conection-img"
                    src="./images/house/woman.png"
                    alt="manager-photo"
                  />
                </div>
                <div class="ready__left-connection-wrapper">
                  <div class="ready__left-connection-info">
                    <p class="ready__left-connection-info-name">
                      Dianne Russell
                    </p>
                    <p class="ready__left-connection-info-job">
                      Manager Director
                    </p>
                  </div>
                  <a href="#" class="ready__left-button">
                    <img src="./images/ready/tell.svg" alt="tell" />
                    Contact Now
                  </a>
                </div>
              </div>
            </div>
            <div class="ready__right">
              <div class="ready__right-house">
                <img class="ready__right-house-img" src="./images/ready/home.png" alt="home-png" />
              </div>
              <div class="ready__right-play">
                <img src="./images/ready/play.svg" alt="play" />
              </div>
              <div class="ready__right-furniture">
                <div class="ready__right-furniture-left">
                  <img src="./images/ready/left.png" alt="left-png" />
                </div>
                <div class="ready__right-furniture-center">
                  <img src="./images/ready/center.png" alt="center-png" />
                </div>
                <div class="ready__right-furniture-right">
                  <img src="./images/ready/right.png" alt="right-png" />
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="swiper-slide">
            <div class="ready__wrapper">
                <div class="ready__left">
                  <p class="ready__left-text">Ready To Sell!</p>
                  <div class="ready__left-title-wrapper">
                    <h2 class="ready__left-title">Let`s Tour And See Our House!</h2>
                  </div>
                  <div class="ready__left-subtitle-wrapper">
                    <p class="ready__left-subtitle">
                      Houses recommended by our partners that have been curated to
                      become the home of your dreams!
                    </p>
                  </div>
                  <h4 class="ready__left-house-detail">House Detail</h4>
                  <div class="ready__left-detail">
                    <div class="ready__left-detail-top">
                      <div class="ready__left-detail1">
                        <img src="./images/ready/bed.svg" alt="bed" />
                        <p class="ready__left-detail-text">4 Bedrooms</p>
                      </div>
                      <div class="ready__left-detail3">
                        <img src="./images/ready/bath.svg" alt="bath" />
                        <p class="ready__left-detail-text">2 Bathrooms</p>
                      </div>
                    </div>
                    <div class="ready__left-detail-bottom">
                      <div class="ready__left-detail2">
                        <img src="./images/ready/car-garage.svg" alt="car-garage" />
                        <p class="ready__left-detail-text">1 Carport</p>
                      </div>
                      <div class="ready__left-detail4">
                        <img src="./images/ready/steps.svg" alt="steps" />
                        <p class="ready__left-detail-text">2 Floors</p>
                      </div>
                    </div>
                  </div>
                  <div class="ready__left-connection">
                    <div class="ready__left-connection-photo">
                      <img
                        class="ready__left-conection-img"
                        src="./images/house/woman.png"
                        alt="manager-photo"
                      />
                    </div>
                    <div class="ready__left-connection-wrapper">
                      <div class="ready__left-connection-info">
                        <p class="ready__left-connection-info-name">
                          Dianne Russell
                        </p>
                        <p class="ready__left-connection-info-job">
                          Manager Director
                        </p>
                      </div>
                      <a href="#" class="ready__left-button">
                        <img src="./images/ready/tell.svg" alt="tell" />
                        Contact Now
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ready__right">
                  <div class="ready__right-house">
                    <img class="ready__right-house-img" src="./images/ready/home.png" alt="home-png" />
                  </div>
                  <div class="ready__right-play">
                    <img src="./images/ready/play.svg" alt="play" />
                  </div>
                  <div class="ready__right-furniture">
                    <div class="ready__right-furniture-left">
                      <img src="./images/ready/left.png" alt="left-png" />
                    </div>
                    <div class="ready__right-furniture-center">
                      <img src="./images/ready/center.png" alt="center-png" />
                    </div>
                    <div class="ready__right-furniture-right">
                      <img src="./images/ready/right.png" alt="right-png" />
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide"><div class="ready__wrapper">
            <div class="ready__left">
              <p class="ready__left-text">Ready To Sell!</p>
              <div class="ready__left-title-wrapper">
                <h2 class="ready__left-title">Let`s Tour And See Our House!</h2>
              </div>
              <div class="ready__left-subtitle-wrapper">
                <p class="ready__left-subtitle">
                  Houses recommended by our partners that have been curated to
                  become the home of your dreams!
                </p>
              </div>
              <h4 class="ready__left-house-detail">House Detail</h4>
              <div class="ready__left-detail">
                <div class="ready__left-detail-top">
                  <div class="ready__left-detail1">
                    <img src="./images/ready/bed.svg" alt="bed" />
                    <p class="ready__left-detail-text">4 Bedrooms</p>
                  </div>
                  <div class="ready__left-detail3">
                    <img src="./images/ready/bath.svg" alt="bath" />
                    <p class="ready__left-detail-text">2 Bathrooms</p>
                  </div>
                </div>
                <div class="ready__left-detail-bottom">
                  <div class="ready__left-detail2">
                    <img src="./images/ready/car-garage.svg" alt="car-garage" />
                    <p class="ready__left-detail-text">1 Carport</p>
                  </div>
                  <div class="ready__left-detail4">
                    <img src="./images/ready/steps.svg" alt="steps" />
                    <p class="ready__left-detail-text">2 Floors</p>
                  </div>
                </div>
              </div>
              <div class="ready__left-connection">
                <div class="ready__left-connection-photo">
                  <img
                    class="ready__left-conection-img"
                    src="./images/house/woman.png"
                    alt="manager-photo"
                  />
                </div>
                <div class="ready__left-connection-wrapper">
                  <div class="ready__left-connection-info">
                    <p class="ready__left-connection-info-name">
                      Dianne Russell
                    </p>
                    <p class="ready__left-connection-info-job">
                      Manager Director
                    </p>
                  </div>
                  <a href="#" class="ready__left-button">
                    <img src="./images/ready/tell.svg" alt="tell" />
                    Contact Now
                  </a>
                </div>
              </div>
            </div>
            <div class="ready__right">
              <div class="ready__right-house">
                <img class="ready__right-house-img" src="./images/ready/home.png" alt="home-png" />
              </div>
              <div class="ready__right-play">
                <img src="./images/ready/play.svg" alt="play" />
              </div>
              <div class="ready__right-furniture">
                <div class="ready__right-furniture-left">
                  <img src="./images/ready/left.png" alt="left-png" />
                </div>
                <div class="ready__right-furniture-center">
                  <img src="./images/ready/center.png" alt="center-png" />
                </div>
                <div class="ready__right-furniture-right">
                  <img src="./images/ready/right.png" alt="right-png" />
                </div>
              </div>
            </div>
          </div></div>
          <div class="swiper-slide"><div class="ready__wrapper">
            <div class="ready__left">
              <p class="ready__left-text">Ready To Sell!</p>
              <div class="ready__left-title-wrapper">
                <h2 class="ready__left-title">Let`s Tour And See Our House!</h2>
              </div>
              <div class="ready__left-subtitle-wrapper">
                <p class="ready__left-subtitle">
                  Houses recommended by our partners that have been curated to
                  become the home of your dreams!
                </p>
              </div>
              <h4 class="ready__left-house-detail">House Detail</h4>
              <div class="ready__left-detail">
                <div class="ready__left-detail-top">
                  <div class="ready__left-detail1">
                    <img src="./images/ready/bed.svg" alt="bed" />
                    <p class="ready__left-detail-text">4 Bedrooms</p>
                  </div>
                  <div class="ready__left-detail3">
                    <img src="./images/ready/bath.svg" alt="bath" />
                    <p class="ready__left-detail-text">2 Bathrooms</p>
                  </div>
                </div>
                <div class="ready__left-detail-bottom">
                  <div class="ready__left-detail2">
                    <img src="./images/ready/car-garage.svg" alt="car-garage" />
                    <p class="ready__left-detail-text">1 Carport</p>
                  </div>
                  <div class="ready__left-detail4">
                    <img src="./images/ready/steps.svg" alt="steps" />
                    <p class="ready__left-detail-text">2 Floors</p>
                  </div>
                </div>
              </div>
              <div class="ready__left-connection">
                <div class="ready__left-connection-photo">
                  <img
                    class="ready__left-conection-img"
                    src="./images/house/woman.png"
                    alt="manager-photo"
                  />
                </div>
                <div class="ready__left-connection-wrapper">
                  <div class="ready__left-connection-info">
                    <p class="ready__left-connection-info-name">
                      Dianne Russell
                    </p>
                    <p class="ready__left-connection-info-job">
                      Manager Director
                    </p>
                  </div>
                  <a href="#" class="ready__left-button">
                    <img src="./images/ready/tell.svg" alt="tell" />
                    Contact Now
                  </a>
                </div>
              </div>
            </div>
            <div class="ready__right">
              <div class="ready__right-house">
                <img class="ready__right-house-img" src="./images/ready/home.png" alt="home-png" />
              </div>
              <div class="ready__right-play">
                <img src="./images/ready/play.svg" alt="play" />
              </div>
              <div class="ready__right-furniture">
                <div class="ready__right-furniture-left">
                  <img src="./images/ready/left.png" alt="left-png" />
                </div>
                <div class="ready__right-furniture-center">
                  <img src="./images/ready/center.png" alt="center-png" />
                </div>
                <div class="ready__right-furniture-right">
                  <img src="./images/ready/right.png" alt="right-png" />
                </div>
              </div>
            </div>
          </div></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
