<section class="find">
    <div class="find__container">
        <p class="find__text">
            See tips and trick from our partnership
        </p>
        <div class="find__title-wrapper">
            <h2 class="find__title">
                Find Out More About
                Selling And Buying Homes
            </h2>
        </div>
        <div class="find__button-wrapper">
            <a class="find__button" href="#">More Artikel</a>
        </div>
        <div class="find__content">
            <div class="find__content-left">
                <div class="find__content-left-wrapper">
                    <div class="find__content-left-img">
                        <img src="./images/find/left3.png" alt="home">
                    </div>
                    <div class="find__content-left-info">
                        <div class="find__content-left-people">
                            <img src="../../images/find/Dianne.png" alt="people">
                            <p class="see__wrapper-name">Dianne Russell</p>
                        </div>
                        <div class="find__content-left-title">
                            <h4 class="find__content-left-title-text">
                                The Things We Need To Check When We Want To Buy A House
                            </h4>
                        </div>
                        <div class="find__content-left-data">
                            <div class="find__content-left-data-img">
                                <img src="./images/find/clock.svg" alt="clock">
                            </div>
                            <div class="find__content-left-data-text">
                                <p>4 min read | 25 Apr 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="find__content-left-wrapper">
                    <div class="find__content-left-img">
                        <img src="./images/find/left2.png" alt="home">
                    </div>
                    <div class="find__content-left-info">
                        <div class="find__content-left-people">
                            <img src="./images/find/Courtney.png" alt="people">
                            <p class="see__wrapper-name">Courtney Henry</p>
                        </div>
                        <div class="find__content-left-title">
                            <h4 class="find__content-left-title-text">
                                7 Ways To Distinguish The Quality Of The House We Want To Buy
                            </h4>
                        </div>
                        <div class="find__content-left-data">
                            <div class="find__content-left-data-img">
                                <img src="./images/find/clock.svg" alt="clock">
                            </div>
                            <div class="find__content-left-data-text">
                                <p>4 min read | 24 Apr 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="find__content-left-wrapper">
                    <div class="find__content-left-img">
                        <img src="./images/find/left3.png" alt="home">
                    </div>
                    <div class="find__content-left-info">
                        <div class="find__content-left-people">
                            <img src="./images/find/Darlene.png" alt="people">
                            <p class="see__wrapper-name">Darlene Robertson</p>
                        </div>
                        <div class="find__content-left-title">
                            <h4 class="find__content-left-title-text">
                                The Best Way To Know The Quality Of The House We Want To Buy
                            </h4>
                        </div>
                        <div class="find__content-left-data">
                            <div class="find__content-left-data-img">
                                <img src="./images/find/clock.svg" alt="clock">
                            </div>
                            <div class="find__content-left-data-text">
                                <p>4 min read | 24 Apr 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="find__content-right">
                <div class="find__content-right-img">
                    <img src="./images/find/right.png" alt="photo">
                </div>
                <div class="find__content-left-people">
                    <img src="./images/find/Cameron.png" alt="people">
                    <p class="see__wrapper-name">Cameron Williamson</p>
                </div>        
                <h4 class="find__content-right-title">12 Things To Know Before Buying A House</h4>
                <div class="find__content-right-wrapper-subtitle">
                    <p class="find__content-right-subtitle">
                        Want to buy a house but are unsure about what we should know, 
                        here I will try to explain what we should know and check when 
                        we want to buy a house
                    </p>
                </div>
                <div class="find__content-left-data">
                    <div class="find__content-left-data-img">
                        <img src="./images/find/clock.svg" alt="clock">
                    </div>
                    <div class="find__content-left-data-text">
                        <p>4 min read | 25 Apr 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>