.see {
  margin-top: 125px;

  &__container {
    max-width: 1440px;
    margin-bottom: 124px;
  }

  &__swiper {
    padding-bottom: 152px !important;
    @media (max-width: $md3+px) {
      padding-bottom: 30px!important;
    }
  }

  &__text {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #f59e0b;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &::before {
      content: "";
      top: -7px;
      left: 36px;
      position: absolute;
      background: #f59e0b;
      display: block;
      height: 1px;
      width: 32px;
    }
  }

  &__title {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1b1c57;
    margin-top: 12px;
    text-align: center;
  }

  &__wrapper {
    margin-top: 40px;
    position: relative;
  }

  &__wrapper-home {
    margin: 0 auto;
    max-width: 740px;
    position: relative;
  }

  &__wrapper-card {
    max-width: 612px;
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
    border-radius: 16px;
    position: absolute;
    top: 256px;
    left: 64px;
    @media (max-width: $md3+px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 50px;
    }
  }

  &__wrapper-card-title {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #1b1c57;
  }

  &__wrapper-card-subtitle {
    padding-top: 16px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #626687;
    opacity: 0.75;
  }

  &__wrapper-card-info {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    align-items: flex-end;
    @media (max-width: 635px) {
      align-items: center;
    }
  }

  &__wrapper-card-people {
    display: flex;
    gap: 20px;
    @media (max-width: 635px) {
      align-items: center;
    }
  }

  &__wrapper-name {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #0e1735;
  }

  &__wrapper-job {
    padding-top: 4px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888b97;
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__wrapper-card-star {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__wrapper-card-star-number {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3c4563;
  }
}
