.ready {
  margin-top: 92px;
  margin-bottom: 92px;

  &__container {
    max-width: 1230px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__swiper {
    padding: 28px 0 !important;
  }

  &__left {
    padding-left: 41px;
    @media (max-width: 1054px) {
      max-width: 400px;
    }
    @media (max-width: $md2+px) {
      margin-bottom: 50px;
      padding-left: 0;
    }
  }

  &__left-text {
    position: relative;
    padding-top: 26px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #f59e0b;
    @media (max-width: $md2+px) {
      text-align: center;
    }

    &::before {
      content: "";
      top: 34px;
      left: -40px;
      position: absolute;
      background: #f59e0b;
      display: block;
      height: 1px;
      width: 32px;
      @media (max-width: $md2+px) {
        left: 86px;
      }
      @media (max-width: $md4+px) {
        left: 65px;
      }
    }
  }

  &__left-title-wrapper {
    max-width: 492px;
  }

  &__left-title {
    margin-top: 12px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1b1c57;
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  &__left-subtitle-wrapper {
    max-width: 419px;
  }

  &__left-subtitle {
    margin-top: 16px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #626687;
    opacity: 0.75;
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  &__left-house-detail {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1b1c57;
    opacity: 0.75;
    margin-top: 16px;
    margin-bottom: 14px;
    
  }

  &__left-detail {
    max-width: 440px;
    position: relative;
    &::before {
      content: "";
      top: 112px;
      position: absolute;
      background: #f0f3fd;
      display: block;
      height: 2px;
      width: 440px;
      @media (max-width: $md2+px) {
        width: 350px;
      }
    }
  }

  &__left-detail-top {
    display: flex;
    gap: 103px;
    @media (max-width: 1054px) {
      gap: 55px;
    }
    @media (max-width: $md4+px) {
      gap: 20px;
    }
  }

  &__left-detail-bottom {
    display: flex;
    gap: 123px;
    margin-top: 17px;
    @media (max-width: 1054px) {
      gap: 75px;
    }
    @media (max-width: $md4+px) {
      gap: 40px;
    }
  }

  &__left-detail-text {
    font-family: "Lexend";
    color: #3c4563;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__left-detail1 {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__left-detail2 {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__left-detail3 {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__left-detail4 {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__left-connection {
    max-width: 440px;
    margin-top: 67px;
    display: flex;
    gap: 22px;
    align-items: center;
    @media (max-width: 1054px) {
      gap: 5px;
    }
  }

  &__left-connection-wrapper {
    display: flex;
    gap: 59px;
    @media (max-width: 1054px) {
      gap: 5px;
      align-items: center;
    }
    @media (max-width: $md2+px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__left-conection-img {
    width: 56px;
    @media (max-width: $md4+px) {
      display: none;
    }
  }

  &__left-connection-info-name {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0e1735;
    @media (max-width: 1054px) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__left-connection-info-job {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #888b97;
    padding-top: 4px;
    @media (max-width: 1054px) {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__left-button {
    @extend %button;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 13px 15px;
    width: 163px;
    @media (max-width: $md4+px) {
      gap: 2px;
      padding: 6px 8px;
      width: 133px;
    }
  }

  &__right {
    position: relative;
  }

  &__right-house {
    position: relative;
  }

  &__right-house-img {
    @media (max-width: 530px) {
      width: 400px;
    }
    @media (max-width: 435px) {
      width: 340px;
    }
  }

  &__right-play {
    position: absolute;
    top: 42%;
    left: 45%;
    cursor: pointer;
  }

  &__right-furniture {
    display: flex;
    align-items: end;
    position: absolute;
    top: 290px;
    left: -40px;
    @media (max-width: 600px) {
      display: none;
    }
  }

  &__right-furniture-center {
    margin-left: 12px;
    margin-right: 8px;
  }
}
