<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__container-wrapper">
      <div class="subscribe__wrapper">
        <div class="subscribe__left">
          <img
            class="subscribe__left-img1"
            src="./images/subscribe/left1.png"
            alt="photo"
          />
          <img
            class="subscribe__left-img2"
            src="./images/subscribe/left2.png"
            alt="photo"
          />
          <img
            class="subscribe__left-img3"
            src="./images/subscribe/left3.png"
            alt="photo"
          />
          <img
            class="subscribe__left-img4"
            src="./images/subscribe/left4.png"
            alt="photo"
          />
        </div>
        <div class="subscribe__center">
          <div class="subscribe__center-title">
            <h2 class="subscribe__center-title-text">
              Subscribe For More Info And Update From Hounter
            </h2>
          </div>
          <form class="hero__form subscribe__form" action="">
            <i
              class="fa-sharp fa-solid fa-envelope-open hero__form-location"
              style="color: #3b82f6"
            ></i>
            <input
              type="text"
              class="hero__input subscribe__input"
              placeholder="Your email here"
            />
            <a
              type="submit"
              href="#"
              class="hero__form-submit subscribe__form-submit"
            >
              Subsribe Now
            </a>
          </form>
        </div>
        <div class="subscribe__right">
          <img
            class="subscribe__right-img1"
            src="./images/subscribe/right1.png"
            alt="photo"
          />
          <img
            class="subscribe__right-img2"
            src="./images/subscribe/right2.png"
            alt="photo"
          />
          <img
            class="subscribe__right-img3"
            src="./images/subscribe/right3.png"
            alt="photo"
          />
          <img
            class="subscribe__right-img4"
            src="./images/subscribe/right4.png"
            alt="photo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
