<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__text-wrapper">
        <div class="hero__text-top">
          <div class="hero__title">
            find the place to live <span> your dreams</span> easily here
          </div>
          <div class="hero__subtitle">
            Everything you need about finding your place to live will be here,
            where it will be easier for you
          </div>
          <form class="hero__form" action="">
            <i
              class="fa-solid fa-location-dot hero__form-location"
              style="color: #f59e0b"
            ></i>
            <input
              type="text"
              class="hero__input"
              placeholder="Search for the location you want!"
            />
            <a type="submit" href="#" class="hero__form-submit"
              >Search
              <i
                class="fa-solid fa-chevron-right hero__form-arrow"
                style="color: #ffffff"
              ></i
            ></a>
          </form> 
        </div>
        <div class="hero__text-bottom">
          <div class="hero__partner">Our Partnership</div>
          <div class="hero__partner-img">
            <img src="./images/hero/logos.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="hero__swiper">
      <div class="swiper mySwiper hero__swiper-swipe">
        <div class="swiper-wrapper hero__swiper-wrapper">
          <div class="swiper-slide hero__swiper-slide">
            <div class="hero__card hero__card-none">
              <div class="hero__card-body">
                <div class="hero__card-left">
                  <img src="./images/hero/swiper/peoples.png" alt="" />
                </div>
                <div class="hero__card-right">
                  <div class="hero__card-left-title">1K+ People</div>
                  <div class="hero__card-left-subtitle">
                    Successfully Getting Home
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero__swiper-slide">
            <div class="hero__card">
              <div class="hero__card-body">
                <div class="hero__card-left">
                 <img src="./images/hero/swiper/house.png" alt="">
                </div>
                <div class="hero__card-right">
                  <div class="hero__card-left-title">56 Houses</div>
                  <div class="hero__card-left-subtitle">
                    Sold Monthly
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero__swiper-slide">
            <div class="hero__card">
              <div class="hero__card-body">
                <div class="hero__card-left">
                 <img src="./images/hero/swiper/house.png" alt="">
                </div>
                <div class="hero__card-right">
                  <div class="hero__card-left-title">4K+</div>
                  <div class="hero__card-left-subtitle">
                    People Looking for New Homes
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero__swiper-slide">
            <div class="hero__card hero__card-none">
              <div class="hero__card-body">
                <div class="hero__card-left">
                  <img src="./images/hero/swiper/peoples.png" alt="" />
                </div>
                <div class="hero__card-right">
                  <div class="hero__card-left-title">1K+ People</div>
                  <div class="hero__card-left-subtitle">
                    Successfully Getting Home
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero__swiper-slide">
            <div class="hero__card hero__card-none">
              <div class="hero__card-body">
                <div class="hero__card-left">
                  <img src="./images/hero/swiper/peoples.png" alt="" />
                </div>
                <div class="hero__card-right">
                  <div class="hero__card-left-title">1K+ People</div>
                  <div class="hero__card-left-subtitle">
                    Successfully Getting Home
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <div class="hero__bg-picture">
      <img class="hero__bg" src="./images/hero/bg.png" alt="" />
    </div>
  </div>
</section>
