<section class="see">
  <div class="see__container">
    <p class="see__text ">See Our Review</p>
    <h2 class="see__title">What Our User Say About Us</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper see__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="see__wrapper">
            <div class="see__wrapper-home">
              <div class="see__wrapper-home-img">
                <img src="./images/see/leftHome.png" alt="home" />
                <div class="see__wrappper-card-container">
                  <div class="see__wrapper-card">
                    <div class="see__wrapper-card-title">
                      <h4>My house sold out fast!</h4>
                    </div>
                    <div class="see__wrapper-card-subtitle">
                      <p>
                        I was finally able to sell my house quickly through
                        Hounter by immediately setting me up with people who
                        wanted my house. I also do not get a discount from the
                        sale of my house. Awesome!
                      </p>
                    </div>
                    <div class="see__wrapper-card-info">
                      <div class="see__wrapper-card-people">
                        <div class="see__wrapper-card-img">
                          <img src="./images/see/woman.png" alt="photo" />
                        </div>
                        <div class="see__wrapper-card-name">
                          <p class="see__wrapper-name">Courtney Henry</p>
                          <p class="see__wrapper-job">CEO Andarafish</p>
                        </div>
                      </div>
                      <div class="see__wrapper-card-star">
                        <div class="see__wrapper-card-star-img">
                          <img src="./images/see/star.svg" alt="star" />
                        </div>
                        <div class="see__wrapper-card-star-number">4.3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="see__wrapper">
            <div class="see__wrapper-home">
              <div class="see__wrapper-home-img">
                <img src="./images/see/centerHome.png" alt="home" />
                <div class="see__wrappper-card-container">
                  <div class="see__wrapper-card">
                    <div class="see__wrapper-card-title">
                      <h4>Best! I got the house I wanted through Hounter</h4>
                    </div>
                    <div class="see__wrapper-card-subtitle">
                      <p>
                        Through this website I can get a house with the type and specifications 
                        I want very easily, without a complicated process to be able to find 
                        information on the house we want.
                      </p>
                    </div>
                    <div class="see__wrapper-card-info">
                      <div class="see__wrapper-card-people">
                        <div class="see__wrapper-card-img">
                          <img src="./images/see/woman.png" alt="photo" />
                        </div>
                        <div class="see__wrapper-card-name">
                          <p class="see__wrapper-name">Dianne Russell</p>
                          <p class="see__wrapper-job">Manager Director</p>
                        </div>
                      </div>
                      <div class="see__wrapper-card-star">
                        <div class="see__wrapper-card-star-img">
                          <img src="./images/see/star.svg" alt="star" />
                        </div>
                        <div class="see__wrapper-card-star-number">4.6</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="see__wrapper">
            <div class="see__wrapper-home">
              <div class="see__wrapper-home-img">
                <img src="./images/see/rightHome.png" alt="home" />
                <div class="see__wrappper-card-container">
                  <div class="see__wrapper-card">
                    <div class="see__wrapper-card-title">
                      <h4>Through the Hounter, I can get a house for my self</h4>
                    </div>
                    <div class="see__wrapper-card-subtitle">
                      <p>
                        By looking for information about what kind of house we want, 
                        we managed to get the house we wanted very quickly, and directly 
                        connected with the seller to be able to ask about the details, very helpful!
                      </p>
                    </div>
                    <div class="see__wrapper-card-info">
                      <div class="see__wrapper-card-people">
                        <div class="see__wrapper-card-img">
                          <img src="./images/see/woman.png" alt="photo" />
                        </div>
                        <div class="see__wrapper-card-name">
                          <p class="see__wrapper-name">Esther Howard</p>
                          <p class="see__wrapper-job">Head of Marketing</p>
                        </div>
                      </div>
                      <div class="see__wrapper-card-star">
                        <div class="see__wrapper-card-star-img">
                          <img src="./images/see/star.svg" alt="star" />
                        </div>
                        <div class="see__wrapper-card-star-number">4.6</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
