.footer {
  margin-bottom: 120px;

  &__container {
    max-width: 1230px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__left {
    @media (max-width: $md2+px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__left-wrapper-text {
    max-width: 323px;
    margin-top: 16px;
    margin-bottom: 24px;
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  &__left-text {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #626687;
    opacity: 0.75;
    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &__left-icons {
    display: flex;
    gap: 36px;
    font-size: 24px;
    padding: 7px;
    @media (max-width: $md2+px) {
      margin-top: 25px;
    }
  }

  &__right {
    display: flex;
    gap: 84px;
    @media (max-width: $md2+px) {
      gap: 36px;
    }
  }

  &__right-title {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0e1735;
  }

  &__right-subtitle {
    padding-top: 12px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #888b97;
  }

  &__right-subtitle p {
    padding-top: 17px;
    @media (max-width: $md2+px) {
      max-width: 150px;
    }
  }
}
