.header {
  &__container {
    max-width: 1231px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 131px;
    @media (max-width: $md2+px) {
      @include adaptiv-value(height, 131, 70, 3);
    }
  }

  &__btn {
    background-color: #d1fae5;
    border-radius: 50px;
    padding: 15px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    &:hover {
      background-color: #b4f2d2;
      transition: 0.2s ease;
    }
  }

  &__right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value(gap, 56, -70, 3);
    transition: all 0.4s ease;
    @media (max-width: $md2+px) {
      flex-direction: column;
      justify-content: center;
      position: fixed;
      left: -100%;
      top: 0;
      background-color: rgb(97, 195, 227);
      z-index: 20;
      @include adaptiv-value(width, 700, 275, 3);
      height: 100%;
      &._active {
        left: 0;
      }
    }
  }

  &__select {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #f0f3fd;
    text-transform: capitalize;
    background: unset;
    @media (max-width: $md2+px) {
      width: 100%;
      text-align: center;
      background: unset;
    }
  }

  &__option {
    background-color: #7eccea;
    color: #333;
  }

  &__option:hover {
    background-color: #ccc;
    color: #fff;
  }

  &__nav {
    @media (max-width: $md2+px) {
      padding: 0 10px;
      width: 80%;
      margin: 0 auto;
    }
  }

  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      @media (max-width: $md2+px) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &__item {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #f0f3fd;
      border-radius: 32px;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      text-transform: capitalize;

      &:nth-child(1) {
        padding: 7px 16px 7px 16px;
      }
      &:nth-child(3) {
        padding: 7px 19px 7px 10px;
      }
      @media (max-width: $md2+px) {
        text-align: center;
      }

      &:hover {
        background-color: #d1fae5;
        color: #000;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }
    &__item select {
      &:hover {
        color: #000;
        cursor: pointer;
        transition: color 0.2s ease;
      }
    }
  }
}

.icon-menu {
  display: none;
  @include media(991) {
    &._active {
      span {
        display: none;
      }
      &::before {
        top: calc(50% - rem(1.5));
        transform: rotate(-45deg);
      }
      &::after {
        width: 100%;
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
    display: block;
    position: relative;
    width: rem(24);
    height: rem(17);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2.6);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
      width: 24px;
      left: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
  }
}
