.house {

  &__container {
    max-width: 1244px;
  }
  &__swiper-container {
    max-width: 1440px;
    padding-left: 161px;
    margin: 0 auto;
    @media (max-width: 1370px) {
      padding-left: unset;
      padding: 0 20px;
    }
  }

  &__body {
    padding-left: 48px;
    @media (max-width: $md2+px) {
      padding-left: unset;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-right: 8px;
    @media (max-width: $md2+px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #f59e0b;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -39px;
      width: 32px;
      height: 1px;
      background: #f59e0b;
      @media (max-width: $md2+px) {
        left: 0;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    color: #1b1c57;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: 480px) {
      gap: 10px;
    }
  }

  &__contol-tab {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #e0e3eb;
    border-radius: 32px;
    background: unset;
    padding: 13px 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #888b97;

    &:hover {
      color: #3cd09f;
      background: #bbf3d6;
      svg {
        path {
          fill: #3cd09f;
        }
      }
      transition: all 0.2s ease;
    }

    &.mixitup-control-active {
      color: #10b981;
      background: #d1fae5;
      svg {
        path {
          fill: #10b981;
        }
      }
    }

    @media (max-width: 480px) {
      padding: 10px 12px;
      font-size: 16px;
      gap: 5px;
    }
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
    margin-top: 17px;
    gap: 139px;
    @media (max-width: 1200px) {
      @include adaptiv-value(gap, 139, -200, 3);
    }
    @media (max-width: $md2+px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__swiper-control {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__swiper-prev,
  &__swiper-next {
    user-select: none;
    background: #10b981;
    border-radius: 32px;
    padding: 16px 25px;
    @media (min-width: 998px) {
      &:hover {
        background: #0b885e;
        cursor: pointer;
        transition: background 0.2s ease;
      }
    }

    &.swiper-button-disabled {
      background: #e0e3eb;
      svg {
        path {
          fill: #3c4563;
        }
      }
      @media (min-width: 998px) {
        &:hover {
          background: #0b885e;
          cursor: pointer;
          transition: background 0.2s ease;
        }
      }
    }
  }
  &__swiper-prev {
    transform: rotate(180deg);
  }

  &__card {
    width: 340px;
    pointer-events: none;
    user-select: none;
    @media (max-width: 480px) {
      margin: 0 auto;
    }
  }

  &__card-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__img {
    position: relative;
    img {
      width: 340px;
      max-width: 100%;
    }
  }

  &__card-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__card-text-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #0e1735;
  }

  &__card-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #3c4563;
  }

  &__card-text-bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__card-text-bottom-flex {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card-text-bottom-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0e1735;
  }

  &__card-text-bottom-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #888b97;
  }

  &__goal {
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 16px;
    left: 16px;
    position: absolute;
    border-radius: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    &__green {
      color: #047857;
      background: #d1fae5;
    }
    &__pink {
      background: #fee2e2;
      color: #ef4444;
    }
    &__blue {
      background: #dbeafe;
      color: #1d4ed8;
    }
    img {
      width: 12px;
      height: 14px;
    }
  }
}
