<sectio class="house">
  <div class="house__container">
    <div class="house__body">
      <div class="house__top">
        <div class="house__left">
          <div class="house__subtitle">Our Recommendation</div>
          <div class="house__title">Featured House</div>
        </div>
        <div class="house__right-wrapper">
          <div class="house__center">
            <div class="house__buttons">
              <button class="house__contol-tab" data-filter=".category-house">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21 10.8319V19.5C20.9998 19.7719 20.9262 20.0386 20.7868 20.272C20.6475 20.5054 20.4476 20.6968 20.2084 20.8259C19.9916 20.9432 19.7485 21.0031 19.5021 20.9999H14.9967C14.7978 20.9999 14.607 20.9209 14.4664 20.7803C14.3257 20.6396 14.2467 20.4488 14.2467 20.2499V15.7493C14.2467 15.5504 14.1677 15.3596 14.0271 15.2189C13.8864 15.0783 13.6956 14.9993 13.4967 14.9993H10.4967C10.2978 14.9993 10.107 15.0783 9.9664 15.2189C9.82574 15.3596 9.74673 15.5504 9.74673 15.7493V20.2499C9.74673 20.4488 9.66771 20.6396 9.52706 20.7803C9.3864 20.9209 9.19564 20.9999 8.99673 20.9999H4.5002C4.28754 21.0005 4.07723 20.9556 3.88335 20.8682C3.68948 20.7808 3.51651 20.653 3.37604 20.4934C3.12946 20.2082 2.99571 19.8427 3.00001 19.4657V10.8318C3.00017 10.6228 3.04392 10.4162 3.12846 10.225C3.21299 10.0339 3.33646 9.86251 3.49098 9.7218L10.9903 2.90308C11.2658 2.65075 11.6258 2.51078 11.9994 2.51074C12.3729 2.51071 12.733 2.65062 13.0085 2.90289L20.5091 9.72189C20.6636 9.86263 20.787 10.034 20.8716 10.2252C20.9561 10.4163 20.9998 10.6229 21 10.8319Z"
                    fill="#888B97"
                  />
                </svg>
                House
              </button>
              <button
                class="house__contol-tab"
                data-filter=".category-apartments"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 21.0001H4C3.45 21.0001 3 20.5501 3 20.0001V8.69006C3 8.27006 3.25 7.90006 3.64 7.75006L14.64 3.52006C14.7921 3.46138 14.9561 3.44076 15.118 3.45999C15.2798 3.47921 15.4345 3.53771 15.5686 3.63038C15.7027 3.72305 15.8121 3.84708 15.8873 3.99169C15.9624 4.13629 16.0012 4.29708 16 4.46006V10.0001H8C7.45 10.0001 7 10.4501 7 11.0001V21.0001ZM17 12.0001H10C9.45 12.0001 9 12.4501 9 13.0001V20.0001C9 20.5501 9.45 21.0001 10 21.0001H14V17.0001C14 16.4501 14.45 16.0001 15 16.0001C15.55 16.0001 16 16.4501 16 17.0001V21.0001H20C20.55 21.0001 21 20.5501 21 20.0001V12.0001C21 10.9001 20.1 10.0001 19 10.0001C17.9 10.0001 17 10.9001 17 12.0001Z"
                    fill="#888B97"
                  />
                </svg>
                Villa
              </button>
              <button
                class="house__contol-tab"
                data-filter=".category-commerce"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17 11V5C17 3.9 16.1 3 15 3H9C7.9 3 7 3.9 7 5V7H5C3.9 7 3 7.9 3 9V19C3 20.1 3.9 21 5 21H11V17H13V21H19C20.1 21 21 20.1 21 19V13C21 11.9 20.1 11 19 11H17ZM7 19H5V17H7V19ZM7 15H5V13H7V15ZM7 11H5V9H7V11ZM11 15H9V13H11V15ZM11 11H9V9H11V11ZM11 7H9V5H11V7ZM15 15H13V13H15V15ZM15 11H13V9H15V11ZM15 7H13V5H15V7ZM19 19H17V17H19V19ZM19 15H17V13H19V15Z"
                    fill="#888B97"
                  />
                </svg>
                Apartment
              </button>
            </div>
          </div>
          <div class="house__right">
            <div class="house__swiper-control">
              <div class="house__swiper-prev">
                <svg
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.65891 0.835396C1.3886 0.834864 1.12665 0.929592 0.918511 1.10313C0.801367 1.20086 0.704535 1.32088 0.633558 1.45632C0.562582 1.59175 0.518856 1.73995 0.504886 1.89242C0.490916 2.04488 0.506975 2.19863 0.552145 2.34484C0.597315 2.49106 0.670706 2.62687 0.768117 2.74449L5.95092 8.98399L0.953218 15.2351C0.857121 15.3542 0.785358 15.4912 0.742054 15.6383C0.69875 15.7854 0.684759 15.9396 0.700885 16.0921C0.717011 16.2446 0.762935 16.3925 0.83602 16.5271C0.909104 16.6617 1.00791 16.7804 1.12675 16.8765C1.24645 16.9825 1.38662 17.0624 1.53847 17.1113C1.69033 17.1602 1.85058 17.1769 2.00918 17.1605C2.16778 17.1441 2.3213 17.0949 2.46011 17.016C2.59891 16.9371 2.72 16.8301 2.81579 16.7019L8.40349 9.71737C8.57365 9.50907 8.66667 9.2478 8.66667 8.97817C8.66667 8.70854 8.57365 8.44727 8.40349 8.23898L2.61912 1.25447C2.50306 1.11359 2.35564 1.00223 2.18881 0.929419C2.02197 0.856607 1.84043 0.824394 1.65891 0.835396Z"
                    fill="white"
                  />
                </svg>
              </div>
              <div class="house__swiper-next">
                <svg
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.65891 0.835396C1.3886 0.834864 1.12665 0.929592 0.918511 1.10313C0.801367 1.20086 0.704535 1.32088 0.633558 1.45632C0.562582 1.59175 0.518856 1.73995 0.504886 1.89242C0.490916 2.04488 0.506975 2.19863 0.552145 2.34484C0.597315 2.49106 0.670706 2.62687 0.768117 2.74449L5.95092 8.98399L0.953218 15.2351C0.857121 15.3542 0.785358 15.4912 0.742054 15.6383C0.69875 15.7854 0.684759 15.9396 0.700885 16.0921C0.717011 16.2446 0.762935 16.3925 0.83602 16.5271C0.909104 16.6617 1.00791 16.7804 1.12675 16.8765C1.24645 16.9825 1.38662 17.0624 1.53847 17.1113C1.69033 17.1602 1.85058 17.1769 2.00918 17.1605C2.16778 17.1441 2.3213 17.0949 2.46011 17.016C2.59891 16.9371 2.72 16.8301 2.81579 16.7019L8.40349 9.71737C8.57365 9.50907 8.66667 9.2478 8.66667 8.97817C8.66667 8.70854 8.57365 8.44727 8.40349 8.23898L2.61912 1.25447C2.50306 1.11359 2.35564 1.00223 2.18881 0.929419C2.02197 0.856607 1.84043 0.824394 1.65891 0.835396Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="house__swiper-container">
    <div id="mixitupOne" class="house__bottom">
      <!-- Swiper -->
      <div class="swiper mySwiper house__swiper-one category-house mix">
        <div class="swiper-wrapper">
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home2.png" alt="" />

                  <div class="house__goal house__goal__blue">
                    <img src="./images/house/icon-home.svg" alt="" />
                    New house
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Woodlandside</div>
                    <div class="house__card-subtitle">$ 20.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/man.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Robert Fox
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Dr. San Jose, South Dakota
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home3.png" alt="" />

                  <div class="house__goal house__goal__green">
                    <img src="./images/house/deals-icon.svg" alt="" />
                    Best Deals
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">The Old Lighthouse</div>
                    <div class="house__card-subtitle">$ 44.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/man2.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Ronald Richards
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Santa Ana, Illinois
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home4.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Cosmo's House</div>
                    <div class="house__card-subtitle">$ 22.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman2.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Jenny Wilson
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Preston Rd. Inglewood, Maine 98380
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper mySwiper house__swiper-one category-apartments mix">
        <div class="swiper-wrapper">
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper mySwiper house__swiper-one category-commerce mix">
        <div class="swiper-wrapper">
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide house__swiper-slide">
            <div class="house__card">
              <div class="house__card-body">
                <div class="house__img">
                  <img src="./images/house/home.png" alt="" />

                  <div class="house__goal house__goal__pink">
                    <img src="./images/house/goal-icon.svg" alt="" />
                    Popular
                  </div>
                </div>
                <div class="house__card-text">
                  <div class="house__card-text-top">
                    <div class="house__card-title">Roselands House</div>
                    <div class="house__card-subtitle">$ 35.000.000</div>
                  </div>
                  <div class="house__card-text-bottom">
                    <div class="house__card-text-img">
                      <img src="./images/house/woman.png" alt="" />
                    </div>
                    <div class="house__card-text-bottom-flex">
                      <div class="house__card-text-bottom-title">
                        Dianne Russell
                      </div>
                      <div class="house__card-text-bottom-subtitle">
                        Manchester, Kentucky
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sectio>
