.find {
  margin-bottom: 122px;

  &__container {
    max-width: 1230px;
  }

  &__text {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #f59e0b;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &::before {
      content: "";
      top: -8px;
      left: 118px;
      position: absolute;
      background: #f59e0b;
      display: block;
      height: 1px;
      width: 32px;
    }
  }

  &__title-wrapper {
    margin: 0 auto;
    padding-top: 12px;
    max-width: 424px;
  }

  &__title {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1b1c57;
    text-align: center;
  }

  &__button-wrapper {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 30px;
  }

  &__button {
    @extend %button;
    padding: 15px;
    width: 118px;
    font-size: 14px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    @media (max-width: 1180px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__content-left {
    display: flex;
    flex-direction: column;
    gap: 43px;
    @media (max-width: 1180px) {
      margin-top: 40px;
    }
  }

  &__content-left-wrapper {
    display: flex;
    gap: 30px;
    @media (max-width: 610px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-left-info {
    @media (max-width: 610px) {
      text-align: center;
    }
  }

  &__content-left-people {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 610px) {
      justify-content: center;
    }
  }

  &__content-left-title {
    max-width: 340px;
    margin-top: 12px;
  }

  &__content-left-title-text {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #1b1c57;
  }

  &__content-left-data {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 13px;
    @media (max-width: 610px) {
      justify-content: center;
    }
  }

  &__content-right {
    @media (max-width: 610px) {
      display: none;
    }
  }

  &__content-right-wrapper-subtitle {
    margin-top: 13px;
  }

  &__content-right-subtitle {
    max-width: 560px;
  }

  &__content-right-img {
    margin-bottom: 23px;
  }

  &__content-right-title {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1b1c57;
    margin-top: 11px;
  }

  &__content-right-subtitle {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #626687;
    opacity: 0.75;
  }
}
