// Заголовки, общие БЄМ блоки и проче...
%button {
    background-color: #10B981;
    color: #fff;
    border-radius: 32px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    @media (min-width: 998px) {
        &:hover {
            background-color: #089163;
            transition: all 0.2s ease;
        }
    }
    
}